#spree-header .my-dropdown-menu li a{
    color: black;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1 0 auto;
}

#spree-footer {
  flex-shrink: 0;
}