@font-face {
  font-family: "opensans";
  src: url("Open-Sans-and-Nunito/opensans/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "nunito";
  src: url("Open-Sans-and-Nunito/nunito/Nunito-Regular.ttf");
}

h1 {
  font-family: 'opensans';
}

body {
  font-family: 'nunito';
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

@media screen {
  .img-carousel {
    float: right;
  }
}

@media (max-width:767px) {
  .img-carousel {
    text-align: center;
  }
}

.page-content {
  flex: 1 0 auto;
}

#spree-footer {
  flex-shrink: 0;
}

.my-footer {
  background-color: #000242;
}

.landing {
  background: linear-gradient(to bottom, #d8d8d8, #525b62);
}

#logo {
  margin-bottom: 0px;

  img {
   max-width: 100%;
   max-height: 50px;
  }
}