<div id="spree-header" class="mb-0">
  <footer id="footer" class="my-footer" data-hook>
    <div class="container">
      <%= render partial: 'spree/shared/footer_nav_bar' %>
    </div>
  </footer>
</div>