<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><a href="#">About Company</a></li>
      <li id="home-link" data-hook><a href="#">Privacy policy</a></li>
      <li id="home-link" data-hook><a href="#">Delivery policy</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook>
      <li id="search-bar" data-hook>

      </li>
    </ul>
  </div>
</nav>