<div id="spree-header">
  <footer id="footer" data-hook>
    <div class="container">
      <%= render partial: 'spree/shared/footer_nav_bar' %>
    </div>
<!--    <div class="container navbar">-->
<!--      <ul class="nav navbar-nav">-->
<!--        <li id="home-link" data-hook><a href="#">About Company</a></li>-->
<!--        <li id="home-link" data-hook><a href="#">Privacy policy</a></li>-->
<!--        <li id="home-link" data-hook><a href="#">Delivery policy</a></li>-->
<!--      </ul>-->
<!--    </div>-->
  </footer>
</div>