 <% Spree::Product.all.order("avg_rating DESC").limit(5).each do |product| %>
      <h1><%= product.name %> </h1>  
          <%= image_tag (product.images.first.attachment.url(:large))%>
      <br><%= product.avg_rating %>    
<% end %>

